p.sub-title1 {
    color: brown
}
p#sub-tytle2 {
    color: darkturquoise;
}
h1{
    font-size: 50pt;
    font-style: oblique;
    font-weight: bold;
}
li{
    font-style: italic;
}
.company{
    font-size: larger;
    color: darkred;
}
div.box1{
    height: 100px;
    width: 100px;
    background-color: darkturquoise;
}
div.box2{
    height: 100px;
    width: 100px;
    background-color: darkturquoise;
    border-radius: 50px;
}
div.box3{
    height: 100px;
    width: 100px;
    background-color: darkturquoise;
}
div.box4{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 5px;
}
div.box5{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50px;
    position: absolute;
    left: 105px;
    top: 0px;
    margin: 5px;
}
div.box6{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50px;
    position: absolute;
    left: 105px;
    top: 105px;
    margin: 5px;
}
div.box7{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50px;
    position: absolute;
    left: 0px;
    top: 105;
    margin: 5px;
}
div.title{
    background-color: yellow;
    padding: 10px;
    margin: 10px;
}